.list-group {
    position: relative;
}

.list-group .close {
    position: absolute;
    top: -.7rem;
    right: -.5rem;
    z-index: 2;
    padding: .25em .5em;
    background: #222 !important;
    border-radius: 2rem;
    color: #ccc !important;
}